<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/mystyle.css"> 
  <title>Kanjisho | <%= search %> search </title>
</head>

<body>
  <%- include ("templates/navbar")%>
  
  <div class="d-flex flex-column align-items-center justify-content-center" style="height: 15vh;">
    <form class="d-flex justify-content-center align-self-center w-75 " action="/search" method="post" >
      <input class="form-control mw-75 p-3 " type="search" placeholder="Search" id="searchParam" value="<%= search %>" name="searchParam" style="width:600px;">
      <button id="searchButton" class="btn btn-outline-success" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>

    <h1 class="text-center">KANJI RESULTS</h1>
    <%if (kanjiResults.found) { %>
        <div class="container d-grid">
          <div class="kanjiSection">
            <p><%= kanjiResults.query %></h5>
          </div>

          <div class="onSection">
            <p>Onyomi</p>
              <p> <%= kanjiResults.onyomi %> </p>
          </div>

          <div class="kunSection">
            <p>Kunyomi</p>
            <% kanjiResults.kunyomi.forEach(function(read) { %>
              <p> <%= read %> </p>
            <% }); %>
          </div>

          <div class="meaningSection">
            <p>Meanings</p>
              <p> <%= kanjiResults.meaning %> </p>
          </div>
        </div>
      <%} else { %>
        <h5 class="text-center">NOT RESULTS</h5>
      <% } %>


    <h1 class="text-center">VOCABULARY RESULTS</h1>

    <% vocabResults.data.forEach(function(item){ %>
      <div class="container d-grid">
  
        <div class="kanjiSection">
          <p><%= item.slug %></h5>
          <% if (item.is_common === true) { %>
            <p class="tag text-center">Common word</p>
          <% } %>
        </div>
        <div class="kunSection">
          <p>Kunyomi</p>
          <% item.japanese.forEach(function(read) { %>
            <p> <%= read.reading %> </p>
          <% }); %>
        </div>
  
        <div class="meaningSection">
          <p>Meanings</p>
          <% item.senses.forEach(function(sense) { %>
            <p> ·<%= sense.english_definitions %> </p>
          <% }); %>
        </div>
      </div>
    <% }); %>

  
</body>

<script src="https://kit.fontawesome.com/b6412059a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>