---
import { reference } from "astro:content";

export interface KanjiResponse {
  kanji: Kanji;
  radical: Radical;
  references: References;
  examples: Example[];
}

export interface Example {
  japanese: string;
  meaning: Meaning;
  audio: Audio;
}

export interface Audio {
  opus: string;
  aac: string;
  ogg: string;
  mp3: string;
}

export interface Meaning {
  english: string;
}

export interface Kanji {
  character: string;
  meaning: Meaning;
  strokes: number;
  onyomi: Onyomi;
  kunyomi: Kunyomi;
  video: Video;
}

export interface Kunyomi {
  romaji: string;
  hiragana: string;
}

export interface Onyomi {
  romaji: string;
  katakana: string;
}

export interface Video {
  poster: string;
  mp4: string;
  webm: string;
}

export interface Radical {
  character: string;
  strokes: number;
  image: string;
  position: Position;
  name: Kunyomi;
  meaning: Meaning;
  animation: string[];
}

export interface Position {
  hiragana: string;
  romaji: string;
  icon: string;
}

export interface References {
  grade: number;
  kodansha: string;
  classic_nelson: string;
}

interface Props {
  fetchedData: KanjiResponse;
}

const { fetchedData } = Astro.props;
console.log(fetchedData);

const { kanji, radical, references, examples } = fetchedData;
---

<section
  class="flex flex-row h-full z-0 w-full lg:w-2/3 justify-center pt-24 items-top text-center"
>
  <div
    id="kanjiCard"
    class="flex flex-col lg:w-1/2 lg:h-1/2 h-full w-11/12 content-center rounded-xl transition-all duration-300 items-top justify-normal lg:items-center items-center"
  >
    <!--Kanji -->
    <div
      class="flex relative flex-col w-full lg:w-1/4 justify-center items-center lg:ml-4"
    >
      <img
        id="kanjis"
        class="relative w-[140px] h-[140px]"
        src={kanji.video.poster}
        alt="kanji"
      />

      <div class="flex flex-col justify-center w-auto mt-8 mb-4">
        <h4 class="font-bold font-sans">Radicals</h4>
        <img
          id="kanjis"
          class="w-auto h-12 justify-center"
          src={radical.image}
          alt=""
        />
        <p class="font-sansjp">
          {radical.name.hiragana}
        </p>
      </div>
    </div>
    <!--Meanings -->
    <div class="flex flex-col items-center justify-center h-full">
      <div
        class="flex flex-col h-full w-full lg:mr-2 items-center justify-center"
      >
        <h2 class="font-oswald font-bold">MEANING</h2>
        <h2 class="font-sans">{kanji.meaning.english}</h2>

        <div class="flex justify-center items-top mt-8">
          <div class="flex-col justify-center w-1/2">
            <h2 class="font-bold font-oswald">KUN</h2>
            <p class="font-sansjp">{kanji.kunyomi.hiragana}</p>
          </div>

          <div class="flex-col w-1/2">
            <h2 class="font-bold font-oswald">ON</h2>
            <p class="font-sansjp">
              {kanji.onyomi.katakana}
            </p>
          </div>
        </div>
      </div>

      <div
        id="phrases"
        class="flex flex-col px-4 w-full lg:w-2/3 border-t-[1px] border-white mt-12 mx-1 justify-center items-center h-auto"
      >
        <h2 class="font-oswald font-bold pt-12">Example use cases</h2>
        <div
          class="flex flex-col lg:flex-row flex-wrap h-auto items-center justify-between w-full"
        >
          {
            examples.map((example) => {
              return (
                <div class="flex w-full justify-evenly  bg-gray-400/10 my-2 rounded-lg py-2">
                  <h2 class="font-sansjp font-base">{example.japanese}</h2>
                  <h2 class="font-sans">{example.meaning.english}</h2>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</section>
