---
import { reference } from "astro:content";

export interface KanjiResponse {
    kanji: Kanji;
    radical: Radical;
    references: References;
    examples: Example[];
}

export interface Example {
    japanese: string;
    meaning: Meaning;
    audio: Audio;
}

export interface Audio {
    opus: string;
    aac: string;
    ogg: string;
    mp3: string;
}

export interface Meaning {
    english: string;
}

export interface Kanji {
    character: string;
    meaning: Meaning;
    strokes: number;
    onyomi: Onyomi;
    kunyomi: Kunyomi;
    video: Video;
}

export interface Kunyomi {
    romaji: string;
    hiragana: string;
}

export interface Onyomi {
    romaji: string;
    katakana: string;
}

export interface Video {
    poster: string;
    mp4: string;
    webm: string;
}

export interface Radical {
    character: string;
    strokes: number;
    image: string;
    position: Position;
    name: Kunyomi;
    meaning: Meaning;
    animation: string[];
}

export interface Position {
    hiragana: string;
    romaji: string;
    icon: string;
}

export interface References {
    grade: number;
    kodansha: string;
    classic_nelson: string;
}

interface Props {
    fetchedData: KanjiResponse;
}

const { fetchedData } = Astro.props;
console.log(fetchedData);

const { kanji, radical, references, examples } = fetchedData;
---

<section
    class="flex h-auto justify-center pt-[100px] lg:flex lg:items-top items-center text-center"
>
    <div
        id="kanjiCard"
        class="flex flex-col lg:flex-row lg:w-1/2 lg:h-1/2 mb-8 h-full w-11/12 content-center p-4 rounded-xl transition-all duration-300 items-top justify-normal lg:items-center items-start"
    >
        <!--Kanji -->
        <div
            class="flex relative flex-col w-full lg:w-1/4 justify-center items-center lg:ml-4 h-auto"
        >
            <img
                id="kanjis"
                class="relative w-[140px] h-[140px]"
                src={kanji.video.poster}
                alt="kanji"
            />
            <a
                href=`/radicals/grade-${references.grade}`
                class="absolute top-[-30px] right-36 rounded-lg text-xs mt-2 font-sans font-bold text-green-950 bg-green-300 justify-center p-2"
            >
                Grade {references.grade}
            </a>
            <div class="flex flex-col justify-center w-auto mt-4">
                <h4 class="font-bold font-sans">Radicals</h4>
                <img
                    id="kanjis"
                    class="w-auto h-[30px] justify-center"
                    src={radical.image}
                    alt=""
                />
                <p class="font-sansjp font-bold">
                    {radical.name.hiragana}
                </p>
            </div>
        </div>
        <!--Meanings -->
        <div
            class="flex m-4 flex-col lg:flex-row items-center justify-center h-full ml-5"
        >
            <div
                class="flex flex-col mx-2 h-2/3 w-1/4 lg:mr-2 items-center justify-center"
            >
                <h2 class="font-oswald font-bold">MEANING</h2>
                <h2 class="font-sans">{kanji.meaning.english}</h2>
                <div class="flex justify-around mt-12">
                    <div class="flex-col">
                        <h2 class="font-bold first-letter: font-sans">KUN</h2>
                        <p>{kanji.kunyomi.hiragana}</p>
                    </div>

                    <div class="flex-col">
                        <h2 class="font-bold font-oswald">ON</h2>
                        <p class="font-sansjp">
                            {kanji.onyomi.katakana.toUpperCase()}
                        </p>
                    </div>
                </div>
            </div>

            <div
                class="flex flex-wrap lg:pl-12 pt-8 pb-24 lg:mt-4 mx-1 border-t-[1px] sm:border-l-[1px] sm:border-t-[0px] w-full lg:w-2/3 overflow-auto justify-center items-center h-full"
            >
                {
                    examples.map((example) => {
                        return (
                            <div class="flex flex-col">
                                <h2 class="font-sansjp font-base">
                                    {example.japanese}
                                </h2>
                                <h1 class="font-sans">
                                    {example.meaning.english}
                                </h1>
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </div>
</section>
